body{
    background-color: rgb(255, 224, 254);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

h2{
    color: purple;
    font-size: 20px;
    border: 5px solid greenyellow;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
}

p{
    color: rgb(23, 23, 118);
    font-size: 15px;
    border: 2px solid rgb(83, 222, 230);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}


.Elemento-diferente{
    color: rgb(209, 25, 56);
    font-size: 18px;
    font-weight: bold;
}

input{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid rgb(118, 151, 36);

}

label{
    font: tahoma;
    color:darkcyan;
    font-style: italic;
}