body{
    background-color: rgb(185, 255, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    
    
}

.box{
    width: 400PX;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 0 35px 0 #5d3469;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: justify;
    background: linear-gradient(to right, rgb(120, 120, 225),#b4daf9) ;
}

img{
    width: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 80%;
    margin: auto;
    filter: drop-shadow(0px,0px,3px, #000)
}

h2{
    color: rgb(243, 243, 243);
    font-size: 20px;
    border: 5px solid rgb(108, 73, 150);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
}

p{
    color: rgb(23, 23, 118);
    font-size: 15px;
    border: 2px solid rgb(83, 222, 230);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}


.Elemento-diferente{
    color: rgb(209, 25, 56);
    font-size: 18px;
    font-weight: bold;
}

input{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid rgb(118, 151, 36);

}

label{
    font: tahoma;
    color:darkcyan;
    font-style: italic;
}